<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Discord Steam Verification</title>
    <link
      rel="icon"
      href="https://i.imgur.com/7c7AKoy.png"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <style type="text/tailwindcss">
      body {
        background-color: #313338;
        color: #fff;
      }

      ul {
        @apply mt-4;
      }

      li {
        @apply flex justify-between gap-6;
      }

      li div:first-child {
        @apply text-white/80 font-medium border-b border-white/10;
      }

      li div:nth-child(2) {
        @apply text-white/50;
      }

      li code {
        @apply text-sm;
      }
    </style>
  </head>

  <body>
    <div class="container mx-auto px-8 md:px-0 py-10 md:w-5/12">
      {{{body}}}
    </div>
  </body>

</html>