<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Discord Steam Verification</title>

    <style>
      html, body {
        box-sizing: 0;
        background-color: #0a0e14;
        color: whitesmoke;
        scroll: auto;
        scroll-behavior: smooth;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .container {
        position: absolute;
        min-width: 500px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .container code {
        background-color: #f5f5f5;
        border-radius: 4px;
        color: black;
        padding: .25em .5em;
      }

      .container a {
        color: rgba(0, 155, 255, 1);
        transition: color 0.2s ease-in-out;
        text-decoration: none;
      }

      .container a:hover {
        color: rgba(0, 155, 255, 0.75);
      }

      .container ul, .container li {
        list-style: none;
        padding: 0;
      }

      .container ul li:not(:last-child) {
        margin-bottom: .5em;
      }

      .container ul li {
        display: flex;
        justify-content: space-between;
      }

      .container .buttons {
        display: flex;
      }

      .container .buttons button:not(:last-child) {
        margin-right: .25em;
      }

      .container .buttons .yes, .container .buttons .no {
        transition: background-color 0.2s ease-in-out;
        border: 0;
        padding: .5em 1.5em;
        font-size: large;
        text-transform: uppercase;
        cursor: pointer;
      }

      .container .buttons .yes {
        background-color: rgba(0, 255, 255, 1);
      }

      .container .buttons .yes:hover {
        background-color: rgba(0, 255, 255, 0.75);
      }

      .container .buttons .no {
        background-color: rgba(200, 0, 0, 1);
        color: whitesmoke;
      }

      .container .buttons .no:hover {
        background-color: rgba(200, 0, 0, 0.75);
      }
    </style>
  </head>

  <body>
    <div class="container">
      {{{ body }}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>